<div id="download">
    <h3>Get it now!</h3>
    <ul>
        <li>
            <h4>Latest release</h4>
            <p><a href="https://github.com/downloads/rudylattae/jasmine-species/jasmine-species-0.8.5b.zip" title="Download jasmine-species-0.8.5b.zip">v0.8.5b | Jan 10 2011</a> (~5Kb)</p>
        </li>
        <li>
            <h4>Previous releases</h4>
            <p><a href="https://github.com/downloads/rudylattae/jasmine-species/jasmine-species-0.8.2b.zip" title="Download jasmine-species-0.8.2b.zip">v0.8.2b | Nov 10, 2010</a> (~5Kb)</p>
        </li>
    </ul>
</div>