<div id="download">
    <h3>Get it now!</h3>
    <ul>
        <li>
            <h4>
                <a href="https://github.com/downloads/rudylattae/jasmine-species/jasmine-species-0.8.5b.zip" title="Download the 0.8.5b release">jasmine-species-0.8.5b.zip</a> (~5Kb)
            </h4>
        </li>
        <li>
            <h4>Previous releases</h4>
            <p><a href="https://github.com/downloads/rudylattae/jasmine-species/jasmine-species-0.8.2b.zip" title="Download the 0.8.2b">jasmine-species-0.8.2b.zip</a> (~5Kb)</p>
        </li>
    </ul>
</div>