<div id="nav">
    <ul>
        <li><a href="./" title="Getting started with jasmine-specied">Getting started</a></li>
        <li><a href="docs.html" title="Read the documentation">Documentation</a></li>
        <li><a href="releases.html" title="Release notes, changelogs and download links">Releases</a></li>
        <li><a href="https://github.com/rudylattae/jasmine-species" title="Follow the development progress on GitHub">Source code</a></li>
        <li><a href="https://github.com/rudylattae/jasmine-species/archives/master" title="Download from GitHub">Archived downloads</a></li>
    </ul>
</div>