<div id="nutshell">
    <h3>What you get</h3>
    <ol>
        <li>
            <h4>Extended grammar</h4>
            <img src="/jasmine-species/files/nutshell/1-create-feature-spec.png" alt="Create feature spec" title="Create feature spec"/>
        </li>
        <li>
            <h4>Clean fail reports</h4>
            <img src="/jasmine-species/files/nutshell/2-watch-spec-fail.png" alt="Watch spec fail" title="Watch spec fail"/>
        </li>
        <li>
            <h4>Clean pass reports</h4>
            <img src="/jasmine-species/files/nutshell/4-watch-spec-pass.png" alt="Watch spec pass" title="Watch spec pass"/>
        </li>
    </ol>
</div>