<div id="nutshell">
    <h3>In a nutshell</h3>
    <ol>
        <li>
            <h4>Create a feature spec</h4>
            <img src="/jasmine-species/files/nutshell/1-create-feature-spec.png" alt="Create feature spec" title="Create feature spec"/>
        </li>
        <li>
            <h4>Watch it fail</h4>
            <img src="/jasmine-species/files/nutshell/2-watch-spec-fail.png" alt="Create feature spec" title="Create feature spec"/>
        </li>
        <li>
            <h4>Implement the functionality</h4>
            <img src="/jasmine-species/files/nutshell/3-implement-functionality.png" alt="Create feature spec" title="Create feature spec"/>
        </li>
        <li>
            <h4>Watch the spec pass</h4>
            <img src="/jasmine-species/files/nutshell/4-watch-spec-pass.png" alt="Create feature spec" title="Create feature spec"/>
        </li>
    </ol>
</div>