/* 
====
base 
====
*/
body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 0.9em;
    color: #333;
}


/*
==================
oxymoron (lite) ;) 
==================
*/
.oxo {
    display: table;
    width: 100%;
    border-collapse: collapse;
}
.x { display: table-row; }
.x > div { display: table-cell; }


/* 
======
layout
====== 
*/
#wrapper {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}
#main { width: 70% }
#aside { 
    width: 30%;
    padding-left: 2em
}

body.home #main { width: 68% }
body.home #aside { width: 32% }

.highlight { 
    width: 95%;
    overflow: auto;
}


/* 
=====
style
=====
*/
h1, h2, h3, h4, h5, h6 { color: #030 }
a { 
    color: #aac261; 
    text-decoration:none 
}
a:visited { color: #999 }
a:hover { color: #669933 }
pre { font-size: 0.9em }

.x div { padding: 0.5em; }

#header h1 a { color: #030 }

#nav ul { 
    list-style-type: none; 
    padding-left: 0
}
#nav a { font-size: 1.3em }

#download ul { 
    list-style-type: none; 
    padding-left: 0em;
    margin-left: 0.5em
}
#download h4 { margin: 0.85em 0 0.5em 0}

#nutshell ol {
    font: italic bold 1em Georgia, Times, serif;
    color: #bbb;
    padding-left: 0;
    margin-left: 1.5em
}
#nutshell p, #nutshell pre, h4 {
    font: normal;
    color: #555;
}
#nutshell h4 { margin: 0.85em 0 0.5em 0}
#nutshell img {
    border: 5px solid #bbb;
    padding: 0.2em;
}

#footer {
    padding-top: 0.5em;
    border-top: 2px solid #999;
    font-size: 0.8em;
    color: #bbb;
}