<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">
    <meta name="keywords" content="{{ site.keywords }}">
    <meta name="copyright" content="{{ site.copyright }}">
    <meta name="author" content="{{ site.author }}">
    <link rel="stylesheet" type="text/css" media="screen, projection" href="/jasmine-species/theme/screen.css"/>
    <link rel="stylesheet" type="text/css" media="screen, projection" href="/jasmine-species/theme/pygments.css"/>
</head>
<body>
    <a href="http://github.com/rudylattae/jasmine-species">
    <img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" />
    </a>
    <div id="wrapper">
        <div id="header">
            <span class="title"><a href="/jasmine-species">{{ site.title }}</a></span>
        </div>
    
        <div class="oxo">
            <div class="x">
                <div id="main">
                    {{ content }}
                </div>
    
                <div id="aside">
                    {% include menu.html %}
                    {% include download.html %}
                </div>
            </div>
        </div>
        
        <div id="footer">
            {{ site.copyright }}
        </div>
    </div>
</body>
</html>